/* navbar */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #dbdbdb;
}

.nav-left a {
    text-decoration: none;
    color: black;
}

.nav-left ul {
    display: flex;
    list-style-type: none;
}

.nav-left img {
    width: 30px;
    filter: brightness(0);
}

.nav-left ul li {
    margin-right: 25px;
    font-size: 20px;
}

.nav-right {
    text-align: end;
}

.nav-right a {
    background-color: black;
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    margin-right: 25px;
}

/* contact form */

form {
    width: 350px;
    margin: 50px auto;
    padding: 10px;
}

form div {
    margin-top: 10px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input,
select,
textarea {
    width: 100%;
    background-color: #dfdedf;
    padding: 10px;
    margin-top: 5px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

textarea {
    resize: none;
}

button {
    color: white;
    background-color: black;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 1px;
    font-size: 15px;
    cursor: pointer;
}